h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    margin: 0;
    text-transform: uppercase;
    background: linear-gradient(90deg, #e781fb 40%, #8e76fa 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 18px;
    margin-top: 45px;
}

.flex {
    display: flex;
    align-items: center;
}

body {
    margin: 0
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 15px;
}

.flip-card {
    border-style: hidden;
    background-color: transparent;
    width: 120px;
    height: 120px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    background-clip: padding-box;
    font-weight: 700;
    letter-spacing: 2px;
}

.flip-card-front:before,
.flip-card-back:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
}

.flip-card-front {
    color: white;

}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

/*input*/
.container {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"), linear-gradient(80deg, #202, #006);*/
    /*background-position: 50% 50%;*/
    /*animation: background-move 10s linear infinite;*/
    /*background-size: max(100vw, 30em) auto, 100% 100%;*/
}

@keyframes background-move {
    0% {
        background-position: 0 0, 0 0;
    }
    100% {
        background-position: max(100vw, 40em) 0, 0 0;
    }
}

.input-group {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 3%;
    gap: 20px;
}

.input-group__label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    color: #ccd;
    color: rgba(255, 220, 255, 0.6);
    cursor: pointer;
}

.input-group__input {
    color: #fff;
    line-height: 1;
    outline: none;
    height: calc(1em + 1.6em + 0.5em);
    width: 50%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#000, #000), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 15px;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
}

.input-group__input:hover {
    background-position: 100% 0;
}

.input-group__input:focus {
    outline: 2px dashed #ad2b89;
    outline-offset: 0.5em;
}

.btn {
    background: rgb(148, 187, 233);
    background: linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    float: right;
    border-radius: 15px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 0;
}

nav {
    margin: 0;
    padding: 10px;
    background-color: black;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    position: relative;
    color: #ABFAA9;
}

nav ul li a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 10;
    width: 0;
    background: rgb(148, 187, 233);
    background: linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    height: 2px;
    transition: 300ms all;
}

nav ul li a:hover::after {
    width: 100%;

}


